.app {
  display: flex;
  justify-content: center;
  
  
}

.payment-btn-cobtainer{
  height: 50vh;
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  background-color: whitesmoke;
  border-radius: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.payment-btn-cobtainer:hover{
  scale: (0.8);
}

